<h1><%= @post.name %></h1>
<h3><%= @post.content %></h3>
<a href="/posts">Back to posts list</a>

<form action="/posts/<%= @post.id %>/delete" method="POST">
  <input id="hidden" type="hidden" name="_method" value="delete">
  <input type="submit" value="delete">
</form>
